.pageContainer {
}

.pageHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  font-size: 3rem;
  font-weight: 500;
  padding: 3rem 25rem;
  font-family: "Poppins", sans-serif;
  /* color: var(--pink); */
  background: -webkit-linear-gradient(#ff7fc1 0 30%, #7336ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------- START OF: STYLES FOR FLOATING SHAPES ------------------ */

.starFive {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #ff7fc1;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ff7fc1;
  border-left: 100px solid transparent;
  transform: rotate(35deg);

  --xA: 100px;
  --yA: 100px;
  --xB: 300px;
  --yB: 300px;

  --ab: 300px;
  --bc: 300px;
  --cd: 100px;
  --de: 100px;

  animation-name: moveCircle;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.starFive:before {
  border-bottom: 80px solid #ff7fc1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.starFive:after {
  position: absolute;
  display: block;
  color: #ff7fc1;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ff7fc1;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.triangleRight {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #7336ff;
  border-bottom: 50px solid transparent;

  --xA: 100px;
  --yA: 100px;
  --xB: 300px;
  --yB: 300px;

  --ab: 300px;
  --bc: 300px;
  --cd: 100px;
  --de: 100px;

  animation-name: moveCircle;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(#ff7fc1 0 60%, #7336ff);
  border-radius: 50%;

  --xA: 100px;
  --yA: 100px;
  --xB: 300px;
  --yB: 300px;

  --ab: 300px;
  --bc: 300px;
  --cd: 100px;
  --de: 100px;

  animation-name: moveCircle;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.square {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(#ff7fc1 0 20%, #7336ff);

  --xA: 100px;
  --yA: 100px;
  --xB: 300px;
  --yB: 300px;

  --ab: 300px;
  --bc: 300px;
  --cd: 100px;
  --de: 100px;

  animation-name: moveCircle;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.starWrapper {
  /* scale: 0.3; */
  transform: scale(0.3);
  position: absolute;
  top: 10%;
  right: 0rem;
  z-index: -10;
}

.triangleWrapper {
  /* scale: 0.3; */
  transform: scale(0.3);
  position: absolute;
  top: 30%;
  right: 60%;
  z-index: -10;
}

.circleWrapper1 {
  /* scale: 0.3; */
  transform: scale(0.3);
  position: absolute;
  top: 47%;
  right: 50%;
  z-index: -10;
}

.circleWrapper2 {
  /* scale: 0.3; */
  transform: scale(0.3);
  position: absolute;
  top: 10%;
  right: 80%;
  z-index: -10;
}

.squareWrapper1 {
  /* scale: 0.3; */
  transform: scale(0.3);
  position: absolute;
  top: 67%;
  right: 10%;
  z-index: -10;
}

.squareWrapper2 {
  /* scale: 0.3; */
  transform: scale(0.3);
  position: absolute;
  top: 50%;
  right: 85%;
  z-index: -10;
}

@keyframes moveCircle {
  0% {
    transform: translate3d(var(--xA), var(--yA), 0);
  }
  25% {
    transform: translate3d(var(--xB), var(--yB), 0);
  }

  50% {
    transform: translate3d(var(--ab), var(--bc), 0);
  }
  100% {
    transform: translate3d(var(--cd), var(--de), 0);
  }
}

/* --------- END OF: STYLES FOR FLOATING SHAPES ------------------ */

.name {
  text-align: center;
  font-family: "Ms Madi", sans-serif;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.testimonialWrapper {
  margin: 0 5rem;
  padding: 3rem;
  background-color: rgb(238, 238, 238);
  border-radius: 2rem;
}

.testimonialHeading {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.singleTestimonialWrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 1rem;
}

.singleTestimonial1 {
  width: 32rem;
  border-radius: 1rem;
  padding: 0;
  box-shadow: 14px 14px 6px -5px rgba(255, 255, 255, 0.75) inset;
  -webkit-box-shadow: 14px 14px 6px -5px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 14px 14px 6px -5px rgba(255, 255, 255, 0.75) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singleTestimonial2 {
  width: 30rem !important;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 14px 10px 16px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 14px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 16px -9px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

.testimonialName {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.testimonialTitle {
  text-align: center;
  font-size: 1rem;
}

.testimonialStar {
  text-align: center;
  margin-top: 0.5rem;
}

.testimonialStory {
  margin-top: 0.5rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.wonder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wonder a {
  text-decoration: none;
}

.wonderText {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin: 3rem 2rem;
}

.wonderButton {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: none;
  background-color: var(--purple);
  color: white;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.wonderButton img {
  animation: moveLeftRight 0.6s linear infinite; /* Adjust the duration as needed */
}

/* --------- START OF: CHEVRON RIGHT ANIMATION ------------------ */
@keyframes moveLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px); /* Adjust the distance as needed */
  }
}
/* --------- END OF: CHEVRON RIGHT ANIMATION ------------------ */

@media screen and (max-width: 970px) {
  .pageHeading {
    /* scale: 0.8; */
    transform: scale(0.8);
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0.5rem 2rem;
  }

  .starWrapper,
  .triangleWrapper,
  .circleWrapper1,
  .circleWrapper2,
  .squareWrapper1,
  .squareWrapper2 {
    /* scale: 0.2 !important; */
    transform: scale(0.2);
  }

  .testimonialWrapper {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 970px) {
  .singleTestimonial1 {
    width: 21rem;
  }

  .singleTestimonial2 {
    width: 20rem !important;
  }
}

@media screen and (max-width: 550px) {
  .singleTestimonial1 {
    width: 17rem;
  }

  .singleTestimonial2 {
    width: 16rem !important;
  }

  .testimonialStory {
    font-size: 0.9rem;
  }

  .wonderText {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 490px) {
  .singleTestimonial1 {
    width: 13rem;
  }

  .singleTestimonial2 {
    width: 11rem !important;
  }
}

@media screen and (max-width: 490px) {
  .singleTestimonial1 {
    width: 11rem;
  }

  .singleTestimonial2 {
    width: 9rem !important;
  }
}
